@font-face {
	font-family: "DSEG14";
	src: url(./DSEG14Classic-Regular.woff) format("woff");

}

* {
	margin: 0;
}

:root {
	/*master size control for all elements sized by rem*/
	font-size: 2.75vmin;
}

body {
	display: flex;
	justify-content: center;
	height: 100vh;
	align-items: center;
	align-content: center;
	background: linear-gradient(to right, rgb(25, 31, 46), rgb(45, 14, 11));
	font-family: "DSEG14";
}

.controlContainer {
	display: flex;
	justify-content: center;
	align-items: center;	
}

.gridContainer {	
	margin-top: 0.625rem;
	margin-bottom: 0.625rem;
	/*margin-top: 10px;
	margin-bottom: 10px;*/
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-content: center;	
	max-width: 95vw;
	height: auto;
	z-index: -1;	
}

.charContainer {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #08090e;
	border: 0.0625rem solid #333641;	
	/*1 px = 0.0625rem	*/
	outline: 0.125rem solid #08090e;
	/*2 px = 0.125rem*/
	margin: 0.3125rem;
	/*5 px = 0.3125rem*/
	width: 2.5rem;
	/*40px =2.5rem */
	height: 3.125rem;
	/*50px =3.125rem */	
	font-size: 2.5rem;	
}

.charContainer:before {
  content: " ";
  position: absolute;
  z-index: -1;
  width: 2.5rem;
	/*40px =2.5rem */
	height: 3.125rem;
	/*50px =3.125rem */	
  border: 0.3125rem solid #333641;
  box-shadow: 0 0 0 0.0625rem #08090e;
}

button {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #08090e;
	border: 0.07em solid #333641;
	width: 1.25rem;
	height: 1.25rem;	
	font-size: 1.25rem;	
}

button {
	color: #121317;
	transition: transform, margin 0.1s;
	transition-timing-function: cubic-bezier(0, 3.03, 0.1, 0.97);	
}

button:focus {
	outline: none;
}

.ready {	
	transform: scale(1.05);
	margin: 0.3125rem;
	background-color: #5a3c58;
	color: #744886;		
}

.layer {
	position: absolute;
}

.layer-0 {
	z-index: 0;
	color: #121317; 

}

.layer-1 {
	z-index: 1;
	color: #ff00bc;
	
}

.layer-2 {
	left: 0.07em;
	top: 0.07em;
	z-index: 1;	
	color: #6d3773;
	mix-blend-mode: subtract;	
	opacity: 0.25;

}

.layer-3 {
	right: 0.07em;	
	bottom: 0.07em;	
	z-index: 1;	
	color: #8500ff;	
	mix-blend-mode: subtract;	
	opacity: 0.25;
}

.on {	
  animation: glow 0.5s cubic-bezier(0, 3.85, 0, 1) 1;
  animation-fill-mode: forwards;
}

@keyframes glow {
  
  0% {
    color: #ff99e4;
    opacity: 0;
    text-shadow: none;
  }

  50% {
  	color: #ff99e4;
  	text-shadow: 0 0 0.1em #5d0e0e, 0 0 0.1em #ff0000;

  }
    100% {
    color: #ff00bc;    
    text-shadow: 0 0 0.05em #5d0e0e50, 0 0 0.1em #ff000050;
  }
}