* {
	margin: 0;
}

body {
	display: flex;
	justify-content: center;
	background: linear-gradient(to right, rgb(25, 31, 46), rgb(45, 14, 11));
	font-family: "DSEG14ClassicRegular";
}
.gridContainer {
	margin-top: 10vh;
	margin-bottom: 10vh;
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	align-content: flex-start;
	width: 90vw;
	height: auto;
}

.charContainer {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #08090e;
	border: 0.07em solid #333641;
	width: 80px;
	height: 100px;
	/*font-size: 5em;	*/
	font-size: 5rem;	
}

.layer {
	position: absolute;
}

.layer-0 {
	z-index: 0;
	color: #121317; 

}

.layer-1 {
	z-index: 1;
	color: #ff00bc;
	/*text-shadow: #5d0e0e73 0px 0px 5px,
		#ff0000 0px 0px 50px;*/
}

.layer-2 {
	top: 5px;
	left: 5px;
	z-index: 1;	
	color: #6d3773;
	mix-blend-mode: subtract;
	filter: blur(2px);
	opacity: 0.5;

}

.layer-3 {	
	z-index: 1;	
	color: #8500ff;
	mix-blend-mode: screen;
	filter: blur(15px);
	opacity: 0.6;

}

.on {
  animation: glow 0.5s cubic-bezier(0, 3.85, 0, 0.98) 1;
  animation-fill-mode: forwards;
}

@keyframes glow {
  
  0% {
    color: #ff99e4;
    opacity: 0;
    text-shadow: none;
  }

  25% {
  	color: #ff99e4;
  	text-shadow: 0 0 0px #5d0e0e73, 0 0 2vw #ff0000;

  }
    100% {
    color: #ff00bc;
    opacity: 0, 0.75;
    text-shadow: none;
  }
}